@import "./input.vars.scss";

// Base Styles + Skinning Vars
.input-styles {
    font-family: $font-medium;
    font-size: $input-font-size;
    color: $darker-gray;
    box-shadow: $input-box-shadow $gray;
    border: none;
    margin-top: 5px;
    &:focus {
        outline: none;
        box-shadow: $input-focused-box-shadow1 $input-focus-box-shadow-color,
                    $input-focused-box-shadow2 $input-focus-box-shadow-color;
    }
    &.error, &:focus.error {
       box-shadow: $input-focused-box-shadow1 $input-error-box-shadow-color !important;
    }
    &.warning, &:focus.warning {
       box-shadow: $input-focused-box-shadow1 $input-warning-box-shadow-color !important;
    }
    &[readonly="true"], &[disabled="true"] {
        box-shadow: none;
        background-image: none;
        background-color: transparent;
        padding-left: 0;
        padding-top: 0;
        &:focus {
            box-shadow: none;
            padding-left: 0;
            padding-top: 0;
        }
    }
}

.input-text-styles {
    text-overflow: ellipsis;
    padding: $input-padding;
    width: $input-width-main;
    height: $input-height;
    box-sizing: content-box;
    &::-ms-clear { // remove IE x icon
        display: none;
    }
    &.error, &.warning {
        &[readonly="true"], &[readonly="true"]:focus {
            padding: $input-padding;
        }
    }
}

.input-select-styles {
    appearance: none;
    padding: 0 0 0 7px;
    width: calc(100% - 13px);
    height: $input-select-height;
    background: url('./images/chevron-down.svg') no-repeat right 5px top 1px;
    background-size: 20px 20px;

    &::-ms-expand {  //remove IE select arrow
        display: none;
    }
    &.error[disabled="true"],
    &.warning[disabled="true"] {
        height: $input-select-height;
        top: initial;
        padding: 5px 0 5px 7px;
    }
    &:disabled, [disabled="true"] {
        position: relative;
        top: -7px;
    }
}

//move to list advance in the future
.cell {
    .input-select-styles {
        &:disabled, [disabled="true"] {
            position: relative;
            top: 0;
        }
    }
}

.input-date-styles {
    background: url("./images/icon-input-date.svg") center right 6px no-repeat;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}


.input-label-styles {
  font-family: $font-light;
    font-size: $input-label-font-size;
    color: $dark-gray;
}

.input-text,
.input-date,
.input-time,
.input-textarea {
    @extend .input-styles;
    @extend .input-text-styles;
}

.input-select {
    @extend .input-styles;
    @extend .input-select-styles;
}

.input-date {
    @extend .input-date-styles;
}

.input-textarea {
    height: inherit
}

.input-label {
    @extend .input-label-styles;
    position: relative;
    &.label-only {
        top: 5px;
    }
}

.input-radio-wrapper {
    font-size: $input-label-font-size;
    vertical-align: top;

    span {
        margin-right: 15px;
    }

    .input-radio-label {
        display: inline-block;
        margin-top: 3px;
    }
}

.input-checkbox-wrapper {
    position: relative;
    display: inline-block;
    .input-checkbox-display {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 0;
        border: 1px solid $gray;
        &:after {
            content: '';
            width: 8px;
            height: 4px;
            position: absolute;
            top: 3px;
            left: 3px;
            border: 3px solid $darker-gray;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }
        &:hover::after {
        opacity: 0.5;
        }
    }
    .input-checkbox-button {
        opacity: 0;
        &:focus + .input-checkbox-display {
            box-shadow: $input-focused-box-shadow1 $input-focus-box-shadow-color, 
                        $input-focused-box-shadow2 $input-focus-box-shadow-color;
        }
        &:checked + .input-checkbox-display:after {
            opacity: 1;
        }
        &[disabled="true"] + .input-checkbox-display{
            border: none;
            cursor: auto;
        }
        &[disabled="true"]:not(:checked) + .input-checkbox-display:hover::after {
            opacity: 0;
        }
        &.error {
            + .input-checkbox-display {
                border: 1px solid $error-red;
            }
            ~ .input-checkbox-label {
                color: $error-red;
            }
        }
    }
    .input-checkbox-label {
        font-family: $font-medium;
        font-size: $input-label-font-size;
        color: $dark-gray;
        white-space: nowrap;
    }
}

.input {
    position: relative;
    .info {
        .tool-tip {
            display: none;
            position: absolute;
            left: 20px;
            background: $input-background-color-main;
            bottom: -5px;
            height: 20px;
            width: 70px;
            font-family: $input-font-family-main;
            font-size: $input-label-font-size;
            color: $darker-gray;
        }
    }

    &:hover {
      z-index: $input-z-index;
        .info {
            display: inline-block;
            &:hover {
                .tool-tip{
                    display: block;
                }
            }
        }
        .action {
            display: inline-block;
        }
    }
}

.wrap-text {
    .input-checkbox-label {
        font-family: $font-light;
        white-space: initial !important;
        max-width: 450px;
    }

    .input-checkbox {
        position: relative;
        top: -2px;
        left: -4px;
    }
}

textarea.input-text {
    overflow: hidden;
    line-height: 1.5em;
    resize: none;
}

//Validations Styles

.message {
  border-bottom: 1px solid #D0D4D8;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: both;
  border-left: 5px solid transparent;
  
  &.unread {
      background-color: $validation-message-unread-background-color;
      
      > div.content {
        position: relative;
        margin-left: 48px;

        > div.title {
            float: left;
            font-family: $font-medium;
            font-size: $input-label-font-size;
            color: $darker-gray;
            font-weight: 700;
        }
      }
  }

  &.message-task {
      border-left: 5px solid #b2bb1e;
  }


  .hide {
      display: none;
  }
}

// TODO: Move below out to Validation component
.validation-message-box {
    border: 2px solid $error-red;
    margin-bottom: 15px;
    padding: 15px;

    .fa-caret-down {
        color: $error-red;
        padding-right: 10px;
    }
    .validation-message-header {
        font-family: $font-medium;
        color: $error-red;
        
        .validation-header-text {
            font-family: $font-medium;
            font-size: 14px;
        }
    }
    .validation-message {
        font-size: $input-label-font-size;
        margin-top: 5px;
        cursor: pointer;
        @extend .message;

        &.error {
            color: $error-red;
        }
        &.warning {
            color: $validation-message-warning-color;
        }
        &.validated {
            color: $validation-message-validated-color;
        }
    }
}

div.input-wrapper, .input-checkbox-wrapper { 
    &:hover + span.validation-message {
        display: inline-block;
    }
}
span.validation-message.tooltip {
    display: inline-block;
}

span.validation-message {
    display: none;
    float: left;
    font-size: $input-label-font-size;
    color: white;
    position: absolute;
    height: auto;
    width: 150px;
    border-radius: 7px;
    padding: 10px;
    top: 60px;
    z-index: $validation-message-z-index;
    margin-left: calc(100% - 210px);

    &.tooltip {
        background-color: $validation-message-validated-color;

        &:before {
            border-bottom:10px solid $validation-message-validated-color;
        }
    }

    &.error {
        background-color: $error-red;

        &:before {
            border-bottom:10px solid $error-red;
        }
    }

    &.warning {
        background-color: $validation-message-warning-color;

        &:before {
            border-bottom:10px solid $validation-message-warning-color;
        }
    }
    
    &.validated {
        background-color: $validation-message-validated-color;

        &:before {
            border-bottom:10px solid $validation-message-validated-color;
        }
    }


    &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-left: $validaiton-message-before-border;
        border-right: $validaiton-message-before-border;
        left: 75px;
        top: -10px;
    }
}